<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni0261</key>
    <string>uni0261.glif</string>
    <key>uni026F</key>
    <string>uni026F_.glif</string>
    <key>uniE650</key>
    <string>uniE_650.glif</string>
    <key>uniE651</key>
    <string>uniE_651.glif</string>
    <key>uniE652</key>
    <string>uniE_652.glif</string>
    <key>uniE653</key>
    <string>uniE_653.glif</string>
    <key>uniE654</key>
    <string>uniE_654.glif</string>
    <key>uniE655</key>
    <string>uniE_655.glif</string>
    <key>uniE656</key>
    <string>uniE_656.glif</string>
    <key>uniE657</key>
    <string>uniE_657.glif</string>
    <key>uniE658</key>
    <string>uniE_658.glif</string>
    <key>uniE659</key>
    <string>uniE_659.glif</string>
    <key>uniE65A</key>
    <string>uniE_65A_.glif</string>
    <key>uniE65B</key>
    <string>uniE_65B_.glif</string>
    <key>uniE65C</key>
    <string>uniE_65C_.glif</string>
    <key>uniE65D</key>
    <string>uniE_65D_.glif</string>
    <key>uniE65E</key>
    <string>uniE_65E_.glif</string>
    <key>uniE65F</key>
    <string>uniE_65F_.glif</string>
    <key>uniE660</key>
    <string>uniE_660.glif</string>
    <key>uniE661</key>
    <string>uniE_661.glif</string>
    <key>uniE662</key>
    <string>uniE_662.glif</string>
    <key>uniE663</key>
    <string>uniE_663.glif</string>
    <key>uniE664</key>
    <string>uniE_664.glif</string>
    <key>uniE665</key>
    <string>uniE_665.glif</string>
    <key>uniE666</key>
    <string>uniE_666.glif</string>
    <key>uniE667</key>
    <string>uniE_667.glif</string>
    <key>uniE668</key>
    <string>uniE_668.glif</string>
    <key>uniE669</key>
    <string>uniE_669.glif</string>
    <key>uniE66A</key>
    <string>uniE_66A_.glif</string>
    <key>uniE66B</key>
    <string>uniE_66B_.glif</string>
    <key>uniE66C</key>
    <string>uniE_66C_.glif</string>
    <key>uniE66E</key>
    <string>uniE_66E_.glif</string>
    <key>uniE66F</key>
    <string>uniE_66F_.glif</string>
    <key>uniE670</key>
    <string>uniE_670.glif</string>
    <key>uniE671</key>
    <string>uniE_671.glif</string>
    <key>uniE672</key>
    <string>uniE_672.glif</string>
    <key>uniE673</key>
    <string>uniE_673.glif</string>
    <key>uniE674</key>
    <string>uniE_674.glif</string>
    <key>uniE675</key>
    <string>uniE_675.glif</string>
    <key>uniE676</key>
    <string>uniE_676.glif</string>
    <key>uniE677</key>
    <string>uniE_677.glif</string>
    <key>uniE678</key>
    <string>uniE_678.glif</string>
    <key>uniE679</key>
    <string>uniE_679.glif</string>
    <key>uniE67A</key>
    <string>uniE_67A_.glif</string>
    <key>uniE67B</key>
    <string>uniE_67B_.glif</string>
    <key>uniE67C</key>
    <string>uniE_67C_.glif</string>
    <key>uniE67D</key>
    <string>uniE_67D_.glif</string>
    <key>uniE67E</key>
    <string>uniE_67E_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
