<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>exclam</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>question</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>uni0258</string>
      <string>uni0261</string>
      <string>uni026F</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>pipe</string>
      <string>bob</string>
      <string>tut</string>
      <string>deed</string>
      <string>kick</string>
      <string>gig</string>
      <string>thoth</string>
      <string>thither</string>
      <string>fife</string>
      <string>valve</string>
      <string>sis</string>
      <string>zoos</string>
      <string>shush</string>
      <string>zhivago</string>
      <string>church</string>
      <string>judge</string>
      <string>yoyo</string>
      <string>winwin</string>
      <string>haha</string>
      <string>whitewheat</string>
      <string>inkling</string>
      <string>mime</string>
      <string>nun</string>
      <string>loll</string>
      <string>roar</string>
      <string>loch</string>
      <string>llan</string>
      <string>axe</string>
      <string>exam</string>
      <string>qsbracketleft</string>
      <string>qsbracketright</string>
      <string>if</string>
      <string>eat</string>
      <string>ed</string>
      <string>age</string>
      <string>ash</string>
      <string>ice</string>
      <string>ah</string>
      <string>awl</string>
      <string>on</string>
      <string>oil</string>
      <string>ado</string>
      <string>out</string>
      <string>oak</string>
      <string>wool</string>
      <string>ooze</string>
      <string>age.alt</string>
      <string>ice.alt</string>
      <string>out.alt</string>
      <string>oil.alt</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>a</key>
      <string>base</string>
      <key>ado</key>
      <string>base</string>
      <key>age</key>
      <string>base</string>
      <key>age.alt</key>
      <string>base</string>
      <key>ah</key>
      <string>base</string>
      <key>ash</key>
      <string>base</string>
      <key>awl</key>
      <string>base</string>
      <key>axe</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>bob</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>church</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>deed</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>eat</key>
      <string>base</string>
      <key>ed</key>
      <string>base</string>
      <key>emdash</key>
      <string>base</string>
      <key>exam</key>
      <string>base</string>
      <key>exclam</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>fife</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>gig</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>haha</key>
      <string>base</string>
      <key>hyphen</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>ice</key>
      <string>base</string>
      <key>ice.alt</key>
      <string>base</string>
      <key>if</key>
      <string>base</string>
      <key>inkling</key>
      <string>base</string>
      <key>j</key>
      <string>base</string>
      <key>judge</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>kick</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>llan</key>
      <string>base</string>
      <key>loch</key>
      <string>base</string>
      <key>loll</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>mime</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>nun</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>oak</key>
      <string>base</string>
      <key>oil</key>
      <string>base</string>
      <key>oil.alt</key>
      <string>base</string>
      <key>on</key>
      <string>base</string>
      <key>ooze</key>
      <string>base</string>
      <key>out</key>
      <string>base</string>
      <key>out.alt</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>pipe</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>qsbracketleft</key>
      <string>base</string>
      <key>qsbracketright</key>
      <string>base</string>
      <key>question</key>
      <string>base</string>
      <key>quotedblleft</key>
      <string>base</string>
      <key>quotedblright</key>
      <string>base</string>
      <key>quoteleft</key>
      <string>base</string>
      <key>quoteright</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>roar</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>shush</key>
      <string>base</string>
      <key>sis</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>thither</key>
      <string>base</string>
      <key>thoth</key>
      <string>base</string>
      <key>tut</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>uni0258</key>
      <string>base</string>
      <key>uni0261</key>
      <string>base</string>
      <key>uni026F</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>valve</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>whitewheat</key>
      <string>base</string>
      <key>winwin</key>
      <string>base</string>
      <key>wool</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>yoyo</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
      <key>zhivago</key>
      <string>base</string>
      <key>zoos</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
