<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>period</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>uni0261</string>
      <string>uni026F</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>a</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>j</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>uni0261</key>
      <string>base</string>
      <key>uni026F</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
