<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>comma</string>
      <string>period</string>
      <string>two</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>question</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>uni0261</string>
      <string>uni026F</string>
      <string>uniE650</string>
      <string>uniE651</string>
      <string>uniE652</string>
      <string>uniE653</string>
      <string>uniE654</string>
      <string>uniE655</string>
      <string>uniE656</string>
      <string>uniE657</string>
      <string>uniE658</string>
      <string>uniE659</string>
      <string>uniE65A</string>
      <string>uniE65B</string>
      <string>uniE65C</string>
      <string>uniE65D</string>
      <string>uniE65E</string>
      <string>uniE65F</string>
      <string>uniE660</string>
      <string>uniE661</string>
      <string>uniE662</string>
      <string>uniE663</string>
      <string>uniE664</string>
      <string>uniE665</string>
      <string>uniE666</string>
      <string>uniE667</string>
      <string>uniE668</string>
      <string>uniE669</string>
      <string>uniE66B</string>
      <string>uniE66C</string>
      <string>uniE670</string>
      <string>uniE671</string>
      <string>uniE672</string>
      <string>uniE674</string>
      <string>uniE676</string>
      <string>uniE677</string>
      <string>uniE678</string>
      <string>uniE67A</string>
      <string>uniE67C</string>
      <string>uniE67D</string>
      <string>uniE67E</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>a</key>
      <string>base</string>
      <key>b</key>
      <string>base</string>
      <key>c</key>
      <string>base</string>
      <key>colon</key>
      <string>base</string>
      <key>comma</key>
      <string>base</string>
      <key>d</key>
      <string>base</string>
      <key>e</key>
      <string>base</string>
      <key>f</key>
      <string>base</string>
      <key>g</key>
      <string>base</string>
      <key>h</key>
      <string>base</string>
      <key>i</key>
      <string>base</string>
      <key>j</key>
      <string>base</string>
      <key>k</key>
      <string>base</string>
      <key>l</key>
      <string>base</string>
      <key>m</key>
      <string>base</string>
      <key>n</key>
      <string>base</string>
      <key>o</key>
      <string>base</string>
      <key>p</key>
      <string>base</string>
      <key>period</key>
      <string>base</string>
      <key>q</key>
      <string>base</string>
      <key>question</key>
      <string>base</string>
      <key>r</key>
      <string>base</string>
      <key>s</key>
      <string>base</string>
      <key>semicolon</key>
      <string>base</string>
      <key>space</key>
      <string>base</string>
      <key>t</key>
      <string>base</string>
      <key>two</key>
      <string>base</string>
      <key>u</key>
      <string>base</string>
      <key>uni0261</key>
      <string>base</string>
      <key>uni026F</key>
      <string>base</string>
      <key>uniE650</key>
      <string>base</string>
      <key>uniE651</key>
      <string>base</string>
      <key>uniE652</key>
      <string>base</string>
      <key>uniE653</key>
      <string>base</string>
      <key>uniE654</key>
      <string>base</string>
      <key>uniE655</key>
      <string>base</string>
      <key>uniE656</key>
      <string>base</string>
      <key>uniE657</key>
      <string>base</string>
      <key>uniE658</key>
      <string>base</string>
      <key>uniE659</key>
      <string>base</string>
      <key>uniE65A</key>
      <string>base</string>
      <key>uniE65B</key>
      <string>base</string>
      <key>uniE65C</key>
      <string>base</string>
      <key>uniE65D</key>
      <string>base</string>
      <key>uniE65E</key>
      <string>base</string>
      <key>uniE65F</key>
      <string>base</string>
      <key>uniE660</key>
      <string>base</string>
      <key>uniE661</key>
      <string>base</string>
      <key>uniE662</key>
      <string>base</string>
      <key>uniE663</key>
      <string>base</string>
      <key>uniE664</key>
      <string>base</string>
      <key>uniE665</key>
      <string>base</string>
      <key>uniE666</key>
      <string>base</string>
      <key>uniE667</key>
      <string>base</string>
      <key>uniE668</key>
      <string>base</string>
      <key>uniE669</key>
      <string>base</string>
      <key>uniE66B</key>
      <string>base</string>
      <key>uniE66C</key>
      <string>base</string>
      <key>uniE670</key>
      <string>base</string>
      <key>uniE671</key>
      <string>base</string>
      <key>uniE672</key>
      <string>base</string>
      <key>uniE674</key>
      <string>base</string>
      <key>uniE676</key>
      <string>base</string>
      <key>uniE677</key>
      <string>base</string>
      <key>uniE678</key>
      <string>base</string>
      <key>uniE67A</key>
      <string>base</string>
      <key>uniE67C</key>
      <string>base</string>
      <key>uniE67D</key>
      <string>base</string>
      <key>uniE67E</key>
      <string>base</string>
      <key>v</key>
      <string>base</string>
      <key>w</key>
      <string>base</string>
      <key>x</key>
      <string>base</string>
      <key>y</key>
      <string>base</string>
      <key>z</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
