<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ado</key>
    <string>ado.glif</string>
    <key>age</key>
    <string>age.glif</string>
    <key>age.alt</key>
    <string>age.alt.glif</string>
    <key>ah</key>
    <string>ah.glif</string>
    <key>ash</key>
    <string>ash.glif</string>
    <key>awl</key>
    <string>awl.glif</string>
    <key>axe</key>
    <string>axe.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bob</key>
    <string>bob.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>church</key>
    <string>church.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>deed</key>
    <string>deed.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eat</key>
    <string>eat.glif</string>
    <key>ed</key>
    <string>ed.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>exam</key>
    <string>exam.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fife</key>
    <string>fife.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gig</key>
    <string>gig.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>haha</key>
    <string>haha.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ice</key>
    <string>ice.glif</string>
    <key>ice.alt</key>
    <string>ice.alt.glif</string>
    <key>if</key>
    <string>if.glif</string>
    <key>inkling</key>
    <string>inkling.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>judge</key>
    <string>judge.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kick</key>
    <string>kick.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>llan</key>
    <string>llan.glif</string>
    <key>loch</key>
    <string>loch.glif</string>
    <key>loll</key>
    <string>loll.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mime</key>
    <string>mime.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nun</key>
    <string>nun.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oak</key>
    <string>oak.glif</string>
    <key>oil</key>
    <string>oil.glif</string>
    <key>oil.alt</key>
    <string>oil.alt.glif</string>
    <key>on</key>
    <string>on.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>ooze</key>
    <string>ooze.glif</string>
    <key>out</key>
    <string>out.glif</string>
    <key>out.alt</key>
    <string>out.alt.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>pipe</key>
    <string>pipe.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>qsbracketleft</key>
    <string>qsbracketleft.glif</string>
    <key>qsbracketright</key>
    <string>qsbracketright.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>roar</key>
    <string>roar.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shush</key>
    <string>shush.glif</string>
    <key>sis</key>
    <string>sis.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thither</key>
    <string>thither.glif</string>
    <key>thoth</key>
    <string>thoth.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tut</key>
    <string>tut.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni0258</key>
    <string>uni0258.glif</string>
    <key>uni0261</key>
    <string>uni0261.glif</string>
    <key>uni026F</key>
    <string>uni026F_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>valve</key>
    <string>valve.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>whitewheat</key>
    <string>whitewheat.glif</string>
    <key>winwin</key>
    <string>winwin.glif</string>
    <key>wool</key>
    <string>wool.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yoyo</key>
    <string>yoyo.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zhivago</key>
    <string>zhivago.glif</string>
    <key>zoos</key>
    <string>zoos.glif</string>
  </dict>
</plist>
