<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>age.alt</string>
      <string>ice.alt</string>
      <string>oil.alt</string>
      <string>out.alt</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>age.alt</key>
      <string>base</string>
      <key>ice.alt</key>
      <string>base</string>
      <key>oil.alt</key>
      <string>base</string>
      <key>out.alt</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
