<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>age</string>
      <string>ice</string>
      <string>oil</string>
      <string>out</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>age</key>
      <string>base</string>
      <key>ice</key>
      <string>base</string>
      <key>oil</key>
      <string>base</string>
      <key>out</key>
      <string>base</string>
    </dict>
  </dict>
</plist>
