<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>gig</key>
    <string>gig.glif</string>
    <key>inkling</key>
    <string>inkling.glif</string>
    <key>loch</key>
    <string>loch.glif</string>
    <key>loll</key>
    <string>loll.glif</string>
    <key>nun</key>
    <string>nun.glif</string>
    <key>oil</key>
    <string>oil.glif</string>
    <key>uni002C</key>
    <string>uni002C_.glif</string>
    <key>uni0032</key>
    <string>uni0032.glif</string>
    <key>uni0061</key>
    <string>uni0061.glif</string>
    <key>uni0063</key>
    <string>uni0063.glif</string>
    <key>uni0065</key>
    <string>uni0065.glif</string>
    <key>uni0067</key>
    <string>uni0067.glif</string>
    <key>uni0068</key>
    <string>uni0068.glif</string>
    <key>uni006A</key>
    <string>uni006A_.glif</string>
    <key>uni006D</key>
    <string>uni006D_.glif</string>
    <key>uni006E</key>
    <string>uni006E_.glif</string>
    <key>uni0072</key>
    <string>uni0072.glif</string>
    <key>uni0073</key>
    <string>uni0073.glif</string>
    <key>uni0077</key>
    <string>uni0077.glif</string>
    <key>uni0078</key>
    <string>uni0078.glif</string>
    <key>uni0079</key>
    <string>uni0079.glif</string>
    <key>uni007A</key>
    <string>uni007A_.glif</string>
    <key>uni0261</key>
    <string>uni0261.glif</string>
  </dict>
</plist>
